<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>可视化算法平台</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='layui/css/layui.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/algo_index.css')}}">
    <script src="{{ url_for('static',filename='layui/layui.js')}}"></script>
    <script src="{{ url_for('static',filename='js/jquery-3.6.0.min.js')}}"></script>
</head>
<body>
    <div class="layui-layout layui-layout-admin">
        <div class="layui-layout layui-layout-admin">
            <div class="layui-header">
                <div class="layui-logo"><a href="{{url_for('go_index')}}"><img src="{{url_for('static',filename='img/logo.png')}}" height="90%"></a></div>
                <!-- 头部区域（可配合layui 已有的水平导航） -->
                <ul class="layui-nav layui-layout-left">
                    <li class="layui-nav-item"><a href="{{url_for('go_algo')}}">算法演示</a></li>
                    <li class="layui-nav-item"><a href="http://114.55.167.188/">社区论坛</a></li>
                    <li class="layui-nav-item"><a href="http://49.234.79.176">Online Judge</a></li>
                </ul>
                <ul class="layui-nav layui-layout-right">
                    {% if g.user %}
                        <li class="layui-nav-item">
                            <a href="{{url_for('self_index')}}">
                                <img src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" class="layui-nav-img">
                                {{ g.user.username }}
                            </a>
                        </li>
                        <li class="layui-nav-item"><a href="{{url_for('logout')}}">退出登录</a></li>
                    {% else %}
                        <li class="layui-nav-item"><a href="{{url_for('login')}}">登录/注册</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
              <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree">
                    <li class="layui-nav-item"><a href="{{url_for('go_algo')}}">概览</a></li>
                    <li class="layui-nav-item">
<!--                        class=layui-nav-itemed-->
                        <a href="javascript:;">基础语法</a>
                        <dl class="layui-nav-child">
                            <dd><a href="{{url_for('for_loop')}}">for循环</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">搜索算法</a>
                        <dl class="layui-nav-child">
                            <dd><a href="{{url_for('dfs')}}">dfs深度优先搜索</a></dd>
                            <dd><a href="{{url_for('bfs')}}">bfs广度优先搜索</a></dd>
                        </dl>
                    </li>
                </ul>



            </div>
        </div>

        <div class="layui-body">
        <!-- 内容主体区域 -->
<!--            <div style="width:10px;height:60px;"></div>-->
            <button class="btn" onclick="urlFor()"><span>for循环</span></button>
            <button class="btn" onclick="urlDfs()"><span>DFS深度优先搜索</span> </button>
            <button class="btn" onclick="urlBfs()"><span>BFS广度优先搜索</span> </button>
<!--            <div class="big_item"><p>&nbsp;&nbsp;&nbsp;&nbsp;基&nbsp;&nbsp;础&nbsp;&nbsp;语&nbsp;&nbsp;法</p></div>-->
<!--            <div class="small_item"><a href="{{url_for('for_loop')}}">&nbsp;&nbsp;+&nbsp;for&nbsp;循&nbsp;环</a></div>-->
<!--            <div class="big_item"><p>&nbsp;&nbsp;&nbsp;&nbsp;搜&nbsp;&nbsp;索&nbsp;&nbsp;算&nbsp;&nbsp;法</p></div>-->
<!--            <div class="small_item"><a href="{{url_for('dfs')}}">&nbsp;&nbsp;+&nbsp;dfs&nbsp;深&nbsp;度&nbsp;优&nbsp;先&nbsp;搜&nbsp;索</a></div>-->
<!--            <div class="small_item"><a href="{{url_for('bfs')}}">&nbsp;&nbsp;+&nbsp;bfs&nbsp;广&nbsp;度&nbsp;优&nbsp;先&nbsp;搜&nbsp;索</a></div>-->

        </div>

    </div>
    <script>
        function urlFor(){
            window.location.href="{{url_for('for_loop')}}";
        }

        function urlDfs(){
            window.location.href="{{url_for('dfs')}}";
        }

        function urlBfs(){
            window.location.href="{{url_for('bfs')}}";
        }
    </script>
</body>

</html>